<div class="container-fluid stylish-form">
  <h2 class="text-center">Welcome Back</h2>
  <div class="row mar20">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="inner-section">
              <form >
                  <div class="mar20 inside-form">
                      <h2 class="font_white text-center">LOGIN</h2>
                      <ul>
                          <img class="profile-img"
                              src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                              alt="">
                      </ul>

                      <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-envelope "></i></span>
                          <input [(ngModel)] = 'loginUserData.email' name="email" type="email" class="form-control" name="text" placeholder="Email...">
                      </div>
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-lock "></i></span>
                          <input  [(ngModel)] = 'loginUserData.password' name="password"type="password" class="form-control" name="text" placeholder="Password...">
                      </div>
                      <label class="checkbox pull-left">
                          <input type="checkbox" value="remember-me">
                          Remember me
                      </label>
                      <div class="footer text-center">
                          <button class="btn btn-neutral btn-round btn-lg" (click) = "loginUser()">SUBMIT</button>
                      </div>
                      <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                      <a routerLink="/register" class="text-center new-account">Create an account </a>
                  </div>

              </form>
          </div>

      </div>
  </div>
  <a href="fb.com/ervijender">
      <h2 class="text-center font_white">Thank You For Visiting Our App</h2>
  </a>
</div>
