<div class="container">    
  <div class="row">
      <div class="panel panel-default">
      <div class="panel-heading">  <h4 >User Profile</h4></div>
       <div class="panel-body">
      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
       <img alt="User Pic" src="https://media.licdn.com/dms/image/C4D03AQFrzvcwPJ5cYw/profile-displayphoto-shrink_200_200/0?e=1555545600&v=beta&t=PGcp9iWow32JsKdUf7a8hsj0mu-185cQBfmPFQAq0i4" id="profile-image1" class="img-circle img-responsive"> 
     
 
      </div>
      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
          <div class="container" >
            <h2>Yazeed Hammad</h2>
            <p>an   <b> Full Stack Software Engineer</b></p>
          
           
          </div>
           <hr>
          <ul class="container details" >
            <li><p><span class="glyphicon glyphicon-user one" style="width:50px;"></span>i.rudberg</p></li>
            <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>yazeedhammad91@email.com</p></li>
          </ul>
          <hr>
          <div class="col-sm-5 col-xs-6 tital " >Date Of Joining: 15 Jun 2016</div>
      </div>
</div>
